/* Entire Doc Element Changes */
html, body {
  height: 100%;
}

body {
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
}

h1 {
  color: #7897AB;
  font-family: 'Dancing Script', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  padding-top: 100px;

}

h2 {
  color: #7897AB;
  font-family: 'Cinzel', serif;
  font-size: 3rem;
  font-weight: normal;
  text-align: center;
}

h3 {
  color: #565D47;
  font-family: 'Cinzel', serif;
  font-weight: bold;
}

p {
  color: #4A403A;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.3rem;
}

hr {
  border-top: 1px solid #eee;
  border-color: #727878;
  opacity: 0.2;
  width: 60%;
}

td {
  font-size: 1.3rem;
}

a {
 margin: 10px 20px;
 text-decoration: none;
}

a:hover {
  color: #105652;
}

/* Containers */

.parallax-container {
  background-color: #041C32;
  height: auto;
}
.parallax {
  background-attachment: fixed;
  background-image: url("../images/starryNight.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.profile-container {
  background-color: #D9D7F1;
  padding-bottom: 50px;
}

.project-container {
  background-color: #2D4263;
  padding-bottom: 100px;
}

.project-container p {
  color: #D9D7F1;
}

.contact-container {
  background-color: #D9D7F1;
  padding: 50px 0 150px;
}

.bottom-container {
  background-color: #2D4263;
  padding: 50px 0 20px;
}

/* Parallex Container Items */

.intro {
  top: 400px;
  left: 43%;
  position: absolute;
}

.programmer {
  top: 700px;
  left: 37%;
  position: absolute;
}

.starry-night {
  height: 100%;
  width: 100%;
}

/* Hello Section */

.profile-pic {
  margin: 0 auto 50px;
  padding-top: 100px;
  width: 13%;
}

.hello-heading {
  margin-bottom: 50px;
}

.hello-blurb {
  line-height: 2;
  margin: 50px auto 50px;
  width: 30%;
}

.partTwo {
  margin-bottom: 50px;
}

/* Skills Table */

.skills-table-healding {
  margin-top: 200px;
}

.skills-table {
  margin: 100px auto;
}

.fas {
  color: #B2AB8C;
}

.unfilled {
  color: #ffff;
}

.no-bullets {
  list-style-type: none;
}

/* Project Container Objects */

.projects-heading {
  color: #7897AB;
}

.projects {
  padding-top: 70px;
}

.dl-screenshot {
  padding-top: 50px;
}

.tinDog-screenshot {
  padding-top: 100px;
  width: 50%;
}

.dice-screenshot {
  padding-top: 100px;
  width: 50%;
}

/* Contact Container Items */

.dice-pic {
  background: #B2AB8C;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
  width: 20%;
}

.social-pic {
  background: #B2AB8C;
  border-radius: 100%;
  float: right;
  margin-left: 30px;
  width: 20%;
}

.hypnosis-pic {
  border-radius: 100%;
  float: left;
  margin-right: 30px;
  margin-bottom: 50px;
  width: 20%;
}

.web-blurb {
  overflow: hidden;
}

.hypnotist-blurb {
  overflow: hidden;
  padding-bottom: 50px;
}

.contact-blurb {
  padding-top: 20px;
}

.background-container {
  margin-top: 100px;
}

.background-row {
  line-height: 2;
  margin: 100px auto 150px;
  text-align: left;
  width: 50%;
}

.contact-me {
  margin-top: 100px;
}

.btn {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Cinzel;
  color: #D9D7F1;
  font-size: 20px;
  background: #7897AB;
  padding: 10px 30px 10px 30px;
  border: solid #2D4263 2px;
  text-decoration: none;
}

.btn:hover {
  background: #2D4263;
  color: #D9D7F1;
  text-decoration: none;
}

.btn-box {
  padding-top: 50px;
}

.footer-link {
  color: #D9D7F1;
  font-size: 1.4rem;
}

.copyright {
  color: #D9D7F1;
  font-size: 1.2rem;
}

